<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="JupiDateFrame">
		<size>650,350</size>
		<bg>wxSYS_COLOUR_BTNFACE</bg>
		<minsize>650,350</minsize>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_FRAME_STYLE|wxMAXIMIZE_BOX|wxMINIMIZE_BOX</style>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer2" member="no">
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON1" variable="m_wUpdateSerialListBtn" member="yes">
							<bitmap stock_id="wxART_FIND_AND_REPLACE" stock_client="wxART_BUTTON" />
							<tooltip>Update serial devices list</tooltip>
							<handler function="OnBitmapButton1Click" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxComboBox" name="ID_COMBOBOX1" variable="m_wSerialList" member="yes">
							<tooltip>Selected serial device</tooltip>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxChoice" name="ID_CHOICE1" variable="m_wSpeedchoice" member="yes">
							<content>
								<item>1200</item>
								<item>2400</item>
								<item>4800</item>
								<item>9600</item>
								<item>19200</item>
								<item>38400</item>
								<item>57600</item>
							</content>
							<selection>2</selection>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxToggleButton" name="ID_TOGGLEBUTTON1" variable="m_wConnBtn" member="yes">
							<label>Connect</label>
							<tooltip>Serial connection</tooltip>
							<handler function="Onm_wConnBtnToggle" entry="EVT_TOGGLEBUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
				</object>
				<flag>wxTOP|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer14" member="no">
					<object class="sizeritem">
						<object class="wxStaticLine" name="ID_STATICLINE1" variable="StaticLine1" member="yes">
							<size>10,-1</size>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer3" member="no">
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer12" member="no" />
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
							<object class="wxBoxSizer" variable="BoxSizer4" member="no">
								<object class="sizeritem">
									<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="m_wDateText" member="yes">
										<value>--:--:-- - --/--/----</value>
										<bg>wxSYS_COLOUR_BTNFACE</bg>
										<font>
											<size>10</size>
											<style>normal</style>
											<weight>bold</weight>
											<underlined>0</underlined>
											<family>swiss</family>
											<face>Sans</face>
										</font>
										<tooltip>Actual UTC date &amp; time</tooltip>
										<style>wxTE_READONLY|wxTE_CENTRE</style>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON1" variable="m_wSetBtn" member="yes">
							<label>Set Date</label>
							<tooltip>Update GPS date</tooltip>
							<handler function="Onm_wSetBtnClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer11" member="no" />
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
				</object>
				<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="m_wRXSizer" member="yes">
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer9" member="no">
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="m_wRXText" member="yes">
									<font>
										<size>9</size>
										<style>normal</style>
										<weight>normal</weight>
										<underlined>0</underlined>
										<family>swiss</family>
										<face>Sans</face>
									</font>
									<tooltip>RX monitor</tooltip>
									<style>wxTE_MULTILINE|wxTE_READONLY|wxVSCROLL</style>
								</object>
								<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxTOP|wxBOTTOM|wxLEFT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer13" member="no">
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="BoxSizer15" member="no">
									<orient>wxVERTICAL</orient>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxToggleButton" name="ID_TOGGLEBUTTON2" variable="m_wHoldBtn" member="yes">
									<label>Hold</label>
									<tooltip>Hold RX monitor</tooltip>
								</object>
								<flag>wxTOP|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_BUTTON2" variable="m_wClearBtn" member="yes">
									<label>Clear</label>
									<tooltip>Clear RX monitor</tooltip>
									<handler function="Onm_wClearBtnClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
						</object>
						<flag>wxALIGN_BOTTOM|wxALIGN_CENTER_HORIZONTAL</flag>
						<border>5</border>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer8" member="no">
					<object class="sizeritem">
						<object class="wxStaticLine" name="ID_STATICLINE2" variable="StaticLine2" member="yes">
							<size>10,-1</size>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer5" member="no">
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer7" member="no" />
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer6" member="no">
							<object class="sizeritem">
								<object class="wxButton" name="ID_BUTTON3" variable="m_wQuitBtn" member="yes">
									<label>Quit</label>
									<tooltip>Exiting</tooltip>
									<handler function="Onm_wQuitBtnClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					</object>
				</object>
				<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
		</object>
		<object class="wxSingleInstanceChecker" variable="w_SingleInstanceChecker" member="yes">
			<appname>JupiDate</appname>
			<extra_code>if (w__SingleInstanceChecker.IsAnotherRunning())&#x0A;{&#x0A;      wxMessageDialog dial(NULL, __T(&quot;Another instance is already running. Exiting.&quot;), __T(&quot;Warning !&quot;), (wxOK|wxICON__EXCLAMATION|wxCENTRE));&#x0A;      dial.ShowModal();&#x0A;      exit(1);&#x0A;}&#x0A;</extra_code>
		</object>
		<object class="wxTimer" name="ID_TIMER1" variable="m_wDateTimeTimer" member="yes">
			<interval>500</interval>
			<handler function="OnTimer1Trigger" entry="EVT_TIMER" />
		</object>
		<object class="wxTimer" name="ID_TIMER2" variable="m_wRXTimer" member="yes">
			<interval>10</interval>
			<handler function="OnTimer2Trigger" entry="EVT_TIMER" />
		</object>
	</object>
</wxsmith>
